{% extends 'base.html' %}



{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <div class="row">

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Registered Drugs</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{medicine_count}}</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Generated Code Count</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{code_count}}</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>


            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Box List</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Drug Name</th>
                        <th>Quantity</th>
                        <th>Importer Name</th>
                        <th>Importer Address</th>
                        <th>Importer Phone</th>
                        <th>Importer Email</th>
                        <th>Generate/Download Codes</th>
                      </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                    {% for item in items %}
                      <tr>
                        <td><a href="/query/{{item.code}}">{{item.medicine.generic}}</a></td>
                        <td>{{item.box.get_items.count}}</td>
                        <td>{{ item.box.importer.name}}</td>
                        <td>{{ item.box.importer.address}}</td>
                        <td>{{ item.box.importer.phone}}</td>
                        <td>{{ item.box.importer.email}} </td>
                        <td><a href="/print_codes/{{item.code}}" class="btn btn-success btn-icon-split">
                            <span class="icon text-white-50">
                              <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Download</span>
                          </a>

                        </td>

                      </tr>
                    {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
  
          </div>
          <!-- /.container-fluid -->
  
        </div>
        <!-- End of Main Content -->
  

{% endblock content %}